<!-- Here, we are able to get hte pageTitle of each route that was passed into the object  -->

<header>
  <p>Welcome in my {{currentYear}}'s website </p>
  <p>{{pageTitle}}</p>
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>

</header>
