<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
      <h1>{{pageTitle}}</h1>
      <p>This is the welcome page made with .hbs!</p>
      <p>{{pageContent}}</p>

      <footer>
        <p>Made in {{currentYear}}</p>
      </footer>
  </body>
</html>
